# These are needed for tests/doc generation/executable generation
sphinx ~= 4.1
tox ~= 3.24.4
sphinx_rtd_theme ~= 1.0.0
virtualenv ~= 20.10.0
flake8 ~= 4.0
pytest ~= 6.2

# Will be needed later
# pyinstaller
